---
---
p {
    color:black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: {{ site.imageHeight }};
    width: {{ site.imageWidth }};        
}

div {
    width: 100%;
}

.note {
    background-color: lightgrey;
    border: solid 1px gray;
    border-radius: 6px;
    padding: 10px;
}

.inlinecode {
    display: inline;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
}

th, td {
    text-align: left;
    padding: 4px;
}

.wrapPre {
    white-space: pre-wrap;
}

h1 {
    color: #0d80d8;
    page-break-before: always;
}

h1 a {
    color: inherit;
}

