<h1><a id="chapter10">Coordinated deployments</a></h1>
<p>
Deploying a package into an environment is just one small part of the deployment process. Often deployments need to be coordinated with other business processes to ensure:
</p>
<ul>
    <li>The right people have given their approval.</li>
    <li>Interested parties are notified of the success or failure of a deployment.</li>
    <li>Deployments proceed in the correct order.</li>
    <li>Deployments can only occur during specific times.</li>
    <li>High priority deployments take precedence over low priority ones.</li>
    <li>Deployments are scheduled to take place at a predetermined time.</li>
    <li>Deployments can be triggered by external events.</li>
    <li>Deployments can trigger external events.</li>
</ul>
<p>
    In practice a deployment process may be a single component in a wider ecosystem of business process management tools. The ability to orchestrate deployments from third party platforms and report results back allows teams to manage complex deployments as part of a broader business process.
</p>