<h1><a id="intro">Welcome</a></h1>
<p>
	As you might imagine, at Octopus, we spend a great deal of time thinking about deployments. Octopus was born to manage real world deployment processes and continues to be shaped through conversations with customers, support requests, our own internal deployment requirements, and many other discussions about what we think good deployments look like.
</p>
<p>
	This knowledge has been distilled into the 10 pillars of pragmatic deployments.
</p>	
	We use the phrase "pragmatic" quite deliberately. This list is not a score card, a pyramid, a checklist, or a fixed list of requirements. In many cases Octopus, both as a product and as a company, has not achieved these pillars. One of the primary goals of developing these pillars is to find the gaps in our own processes in order to shape the features and philosophy of our product, and to continue the ongoing discussion about what it means to deploy software.
<p>	
	With that in mind, pillar number zero, and the prerequisite for all other pillars in this list, is do what works for you.
</p>
<p>	
	We hope you enjoy this discussion, and look forward to shaping the future of pragmatic deployments with your feedback.
</p>
<h2>What you need to know to follow this book</h2>
<p>
    This book is all about deploying to Kubernetes. To follow along with the exercises, you will need a Kubernetes cluster and access to administrative credentials. This book uses a Kubernetes cluster hosted in Google Cloud, but beyond initial administration tasks which rely on the administrative credentials exposed by a Google Cloud Kubernetes cluster, any Kubernetes cluster can be used.
</p>
<p>
    You'll also need an instance of Octopus. The easiest way to get an instance of Octopus is to sign up for a hosted instance at <a href="https://octopus.com">https://octopus.com</a>. The free tier gives you up to 10 targets, which is enough to follow almost all of the examples in this book. Some of the more complex examples demonstrating microservice deployments in many environments will require more than 10 targets, which will require the purchase of an Octopus license. 
</p>
<p>
    This book doesn't explain Kubernetes in great detail, and assumes a reasonable level of familiarity with concepts like pods, deployments, services, service accounts, secrets, configmaps etc. If those terms are unfamiliar to you, I would recommend first becoming familiar with the basics of Kubernetes.
</p>
<p>
    Having said that, all the Kubernetes resources created as part of this book provide detailed instructions on the values to enter into Octopus, so it is possible to get a sense of the deployment processes explained in each chapter without a deep understanding of every setting. Links to external Kubernetes documentation has also been provided for additional information on specific resources and settings.
</p>