<h1><a id="chapter7">Auditable deployments</a></h1>
<p>
    If the visible deployments pillar is about surfacing the current state of your environments and the changes made as part of the release, then auditing is about tracking who has been involved in the deployment process over time.
</p>
<p>
    Auditing allows teams to see:
</p>
<ul>
    <li>A history of deployments to environments.</li>
    <li>Changes to deployment processes.</li>
    <li>Changes to environments.</li>
    <li>Who approved which deployments.</li>
    <li>And to determine the state of an environment at some point in the past.</li>
</ul> 
<p>
    In order for audit events to be useful, they must be able to be searched, filtered, exported, and reported on.
</p>
<p>
    In this chapter we'll explore the auditing functionality in Octopus.
</p>
<h2>Auditable {{ site.platform }} deployments</h2>
<p>
    Auditing is happily one of those Octopus features you get for free. The auditing system in Octopus automatically tracks important events with no additional configuration required.
</p>
<p>
    To view the audit logs, open <b>Configuration -> Audit</b>. You'll be presented with a sortable and filterable list of events that have been tracked by the system.
</p>
<p>
    Let's take a look at a common audit entry. In this example we have a change made to a runbook:
</p>
<div><img alt="Time to recovery" src="images/octopus/audit-entry.png"/></div>
<p>
    The audit entry has a date and time, the details of the user who made the changes, and a description of the change that was made. Often these descriptions have links back to the entity they refer to.
</p>
<p>
    Expanding the audit entry reveals the method that was used to authenticate the user, the details of the client that made the connection, and the category that the audit event belongs to. 
</p>
<p>
    The <b>Established with</b> field of <b>Session cookie</b> shows this action was taken by someone through a web browser. Other audit events may list the API key that was responsible for the event, or if the event was triggered internally this value may simply be <b>Unknown</b>.
</p>
<p>
    The <b>User agent</b> field shows <b>Portal</b>, meaning the action was initiated through the Octopus web UI. When using the Octopus CLI or CI tool plugins, the user agent will capture information about the platform that executed the action, such as operating system versions, as well as capturing the name of the CI server that ran the CLI tool.
</p>
<p class="note">
    The term <i>user agent</i> was borrowed from a similar concept implemented by web browsers that provides some details about the browser's name, version, and other capabilities. However, Octopus does not capture a browser's user agent, even if actions are triggered via the web UI.
</p>
<p>
    The <b>Category</b> field is used to group similar types of events with general names.
</p>
<p>
    Below the audit event fields we then see the diff of a JSON document. Although Octopus uses a relational database to persist data, most data is saved as JSON documents. Updates to the database then mean changing JSON documents, and the diff view shown in the audit logs is the change to the underlying JSON data relating to the audited event.
</p>
<p>
    The structure of the JSON documents is not documented and is subject to change between Octopus versions. End users are not expected to have a deep knowledge of the JSON documents managed by Octopus. But in many cases it is easy enough to understand what change was made from this diff view.
</p>
<p class="note">
    Octopus provides an open source project called Nevermore, available at <a href="https://github.com/OctopusDeploy/Nevermore">https://github.com/OctopusDeploy/Nevermore</a>, to manage the persistence and querying of JSON documents in a relational database.
</p>
<h2>Filtering audit logs</h2>
<p>
    As you can see Octopus generates a lot of audit events, and manually scrolling through them all to find the event you're interested in could be time consuming. Clicking the <b>SHOW ADVANCED FILTERS</b> link displays a number of fields that allow specific audit events to be displayed. Most of the search fields are self explanatory, but a few deserve a mention:
</p>
 <ul>
    <li>The <b>Include system events</b> option displays anything that can not reasonably be categorized as happening within a space. An example of a system event is the creation of a system team, which is a team that is available across all spaces.</li>
<li>The <b>Document types</b> filter limits events to certain types of entities, like projects, certificates, accounts etc. The term <i>document</i> here is a reference to the fact that Octopus stores its data as JSON "documents" in the database.</li>
<li>The <b>Event agents</b> field refers to the user agent we described above that generated the event. The options available in this filter are not necessarily a one-to-one match with the user agent listed on the event itself. For example, if you filter by <b>Octopus Web UI</b>, the audit events will show a user agent of <b>Portal</b>.</li>
<li><b>Event groups</b> provide a higher level of grouping over event categories. By selecting an event group, an number of event categories are selected for you.</li>
 </ul>
<h2>Exporting audit events</h2>
<p>
    The list of events currently displayed on the screen can be exported to a Comma Separated Values (CSV) file by clicking the <b>EXPORT</b> button.
</p>
<p>
    To consume the raw JSON data, we can query the <b>/api/events</b> API endpoint. To get the full URL to query, configure the appropriate filters in the web UI and watch the browser's network traffic through the developer console as you refresh the results. In the screenshot below you can see the URL accessed by the browser to retrieve the list of audit events, capturing the URL <b>/api/events?eventGroups=Deployment&amp;from=2021-02-16T00:00:00+10:00&amp;to=2021-03-18T23:59:59+10:00&amp;spaces=Spaces-142&amp;includeSystem=true&amp;excludeDifference=true</b>:
</p>
<div><img alt="Time to recovery" src="images/browser/network-traffic.png"/></div>
<p class="note">
    Most browsers use the F12 key to open the developer console or tools.
</p>
<p>
    To query this API externally, we first need a service account with the <b>Event View</b> role assigned to it. We've created service accounts, API keys, user roles and teams a few times now in this book, so refer back to <a href="#chapter6">chapter 6</a> for more detailed instructions.
</p>
<p>
    The API key must be passed in the <b>X-Octopus-ApiKey</b> HTTP header as you make a GET request to the <b>/api/events</b> endpoint. In the screenshot below I have used Postman to make the request to the events endpoint:
</p>
<div><img alt="Time to recovery" src="images/postman/events-query.png"/></div>
<p>
    One thing to be aware of with the Octopus REST API is that it often only returns a subset of results with each call, requiring multiple API calls to return all the available results. There is a <b>Links</b> section returned as part of the JSON response that includes links to the next set of results, or a link that returns all the results:
</p>
<pre class="wrapPre">
"Links": {
    "Self": "/api/events?user=",
    "Template": "/api/events{?skip,regarding,...}",
    "Page.All": "/api/events?skip=0&amp;eventGroups=Deployment&amp;from=2021-02-16T00%3A00%3A00%2010%3A00&amp;to=2021-03-18T23%3A59%3A59%2010%3A00&amp;take=2147483647&amp;spaces=Spaces-142&amp;includeSystem=true&amp;excludeDifference=true",
    "Page.Next": "/api/events?skip=30&amp;eventGroups=Deployment&amp;from=2021-02-16T00%3A00%3A00%2010%3A00&amp;to=2021-03-18T23%3A59%3A59%2010%3A00&amp;take=30&amp;spaces=Spaces-142&amp;includeSystem=true&amp;excludeDifference=true",
    "Page.Current": "/api/events?skip=0&amp;eventGroups=Deployment&amp;from=2021-02-16T00%3A00%3A00%2010%3A00&amp;to=2021-03-18T23%3A59%3A59%2010%3A00&amp;take=30&amp;spaces=Spaces-142&amp;includeSystem=true&amp;excludeDifference=true",
    "Page.Last": "/api/events?skip=390&amp;eventGroups=Deployment&amp;from=2021-02-16T00%3A00%3A00%2010%3A00&amp;to=2021-03-18T23%3A59%3A59%2010%3A00&amp;take=30&amp;spaces=Spaces-142&amp;includeSystem=true&amp;excludeDifference=true"
}
</pre>
<p class="note">
    Octopus implements a strict client/server design pattern where the web UI obtains all of its data from the server through the REST API. Anything that can be performed via the web UI can be done via raw HTTP calls.
</p>
<h2>Conclusion</h2>
<p>
    Auditing is one of those features you don't need until you do, and by baking auditing directly into the product, Octopus supports the pillar of auditable deployments out of the box.
</p>
<p>
    In this chapter we:
</p>
<ul>
    <li>Explored the audit screen in Octopus.</li>
    <li>Learned how to filter the audit events.</li>
    <li>Exported the audit events both as a CSV file and as a JSON document from a REST API call.</li>
</ul>
<p>
    The next pillar of standardized deployments explores how teams can abstract away much of the common configuration that goes into steps, reducing the time it takes to build a new deployment process and ensuring consistency across projects.
</p>