<h1><a id="chapter8">Standardized deployments</a></h1>
<p>
    Just as repeatable deployments build confidence as a release is promoted across environments, standardizing on deployment processes across different projects allows teams to confidently leverage already proven processes.
</p>
<p>
    There are two main aspects to standardizing deployments.
</p>
<p>
    The first aspect is defining the initial deployment process used by the various deployments. This base deployment process can be a shared template that allows very specific settings to be customized. Or the entire process could be copied and pasted to bootstrap new projects, but otherwise allowing them to customize the process to their own needs.
</p>
<p>
    The second aspect is defining who has the ability to edit a deployment process. By distinguishing between the ability to view, run, create, and edit a deployment process, teams can provide guarantees that only those individuals with the responsibility to create or edit deployment processes can do so.
</p>
<h2>Standardized {{ site.platform }} deployments</h2>
<p>
    If you recall from <a href="#chapter2">chapter 2</a> we deployed a tentacle Docker image as a worker inside our Kubernetes cluster. The configuration of the <b>Deploy Kubernetes containers</b> step will be very similar for all workers, with the only major differences being the Octopus server URL, API key, space, and machine policy that the worker is configured with. The remaining values, like the Docker image and memory limits, will be consistent for all workers.
</p>
<p>
    This is a perfect example where we want to provide a shared template that defines all the common settings, while allowing the few customizations to be supplied by those creating the deployment process. This is provided in Octopus through step templates.
</p>
<p>
    Return to the <b>Create Kubernetes Worker</b> runbook, and open the <b>Deploy Kubernetes container</b> step defined as the runbook process. In the step hamburger menu select the <b>Extract Step Template</b> option. The main contents of the step will now simply say <b>This step is based on a custom Deploy Kubernetes Worker step template</b>, with a link to the newly created step template. Save the runbook and click the step template link.
</p>
<p>
    A step template contains all the fields found in the deployment process step it is based on. It also includes a <b>PARAMETERS</b> tab that exposes customizable parameters to be defined when the step template is included in a deployment process. The parameters are used very much like regular Octopus variables in that they are used populate the steps fields. In this way we can hard code common values, and expose those values that are defined on a step by step basis.
</p>
<p>
    Under the <b>PARAMETERS</b> tab, click the <b>ADD PARAMETER</b> button, and add the following parameters:
</p>
<ol>
    <li><b>DeployKubernetesWorkerServerUrl</b> with description <b>The URL of the Octopus server to connect the worker to</b>.</li>
    <li><b>DeployKubernetesWorkerApiKey</b> with description <b>The Octopus server API key</b> as a <b>Sensitive/password box</b>.</li>
    <li><b>DeployKubernetesWorkerSpace</b> with description <b>The Octopus space to register the workers in</b>.</li>
    <li><b>DeployKubernetesWorkerPool</b> with description <b>The pool to place the workers in</b> and a default value of <b>Testing</b>.</li>
    <li><b>DeployKubernetesWorkerMachinePolicy</b> with description <b>The machine policy to assign to the workers</b> and a default value of <b>Test Worker</b>.</li>
    <li><b>DeployKubernetesWorkerReplicas</b> with description <b>The number of workers to create</b> and a default value of <b>1</b>.</li>
</ol>
<p class="note">
    Parameters are contributed to a step as variables during deployment time. To reduce the chance that a variable defined in a project conflicts with a parameter name, we ensure the parameter names are quite verbose.
</p>
<p>
    Now set the <b>Replicas</b> field to <b>#{DeployKubernetesWorkerReplicas}</b>, and update the container environment variables to use the remaining parameters with:
</p>
<ul>
    <li><b>MachinePolicy</b> = <b>#{DeployKubernetesWorkerMachinePolicy}</b></li>
    <li><b>Space</b> = <b>#{DeployKubernetesWorkerSpace}</b></li>
    <li><b>TargetWorkerPool</b> = <b>#{DeployKubernetesWorkerPool}</b></li>
    <li><b>ServerUrl</b> = <b>#{DeployKubernetesWorkerServerUrl}</b></li>
    <li><b>ServerApiKey</b> = <b>#{DeployKubernetesWorkerApiKey}</b></li>
</ul>
<p>
    Here is a screenshot of the configured step template:
</p>
<div><img alt="Time to recovery" src="images/octopus/k8s-step-template.png"/></div>
<p>
    Notice that the <b>Usage</b> link has a orange icon with <b>1</b> next to it. This indicates that one step references an old version of this step template, and needs to be updated. Click the <b>Usages</b> link and click the <b>UPDATE...</b> button. A dialog will be presented to let us know that the new step template has additional parameters in the new version, and provides an opportunity to populate the missing fields. We'll leave these missing fields empty for now and click the <b>UPDATE STEPS USING DEFAULT VALUES</b> button. With the update done, we can click on the <b>Step</b> clink to be taken to the step implementing the step template.
</p>
<p>
    Populate values for all the parameters now exposed by the step. You can find the values from <a href="#chapter2">chapter 2</a>. Save the changes made to the step.
</p>
<p>
    Note that what was a large step with many options before is now a very simple step with only six fields to fill in. Anyone using this step template no longer has to understand containers and environment variables, and instead only needs to know the six values to supply to the parameters.
</p>
<p>
    By creating a standardized step template, we can reduce the amount of information process builders need to know in order to deploy a step, and ensure that shared settings are always applied.
</p>
<p>
    The following permissions are related to step templates:
</p>
<ul>
    <li>ActionTemplateCreate</li>
    <li>ActionTemplateDelete</li>
    <li>ActionTemplateEdit</li>
    <li>ActionTemplateView</li>
</ul>
<p>
    If the users consuming action templates do not have <b>ActionTemplateCreate</b>, <b>ActionTemplateDelete</b>, or <b>ActionTemplateEdit</b> permissions, we can be sure that they can only consume step templates as they are, and cannot make any modifications beyond supplying values for parameters.
</p>
<h3>Docker images as parameters</h3>
<p>
    The step template we created above exposed a number of simple text fields as parameters. This is fine in most cases, but a special case may be where we want to allow the user of the step template to select the package/image. For example, we might want to allow the user of the step template to switch between the official Octopus Docker image or a custom one like we created to add a tentacle to the existing Cypress image.
</p>
<p>
    Add a new parameter called <b>DeployKubernetesWorkerImage</b>, and set the <b>Control type</b> to Package. Then go back to the container defined in the step, expand the <b>Image Details</b> section, under the <b>Package Image</b> field select the <b>Let the project select the package</b>, and then select the <b>DeployKubernetesWorkerImage</b> parameter.
</p>
<p class="note">
    Selecting a package via a parameter is called <i>deferred package selection</i>.
</p>
<p>
    The package is then exposed on the step implementing the template:
</p>
<div><img alt="Time to recovery" src="images/octopus/deferred-package.png"/></div>
<h2>Exporting and importing projects</h2>
<p>
    Step templates are a good solution to standardize the configuration of a single step. When you need to provide a template of an entire deployment process, or an entire project, the import/export feature may provide an option.
</p>
<p>
    Click the <b>Projects</b> link, and in the hamburger menu click the <b>Export Projects</b> option. Select the projects to export, enter a password to secure any secret variables in the export archive, and click the <b>Export</b> button.
</p>
<p>
    A task is queued to create the export archive, and after a short time a link to a ZIP file is shown in the <b>TASK SUMMARY</b> tab:
</p>
<div><img alt="Time to recovery" src="images/octopus/export.png"/></div>
<p>
    In a new space, click the <b>Projects</b> link, and in the hamburger menu click the <b>Import Projects</b> option. Select the ZIP file you downloaded previously, and enter the password. The project, along with other entities like environments, lifecycles, and worker pools, will be imported into the space.
</p>
<p class="note">
    The import/export feature is designed to copy projects between spaces and instances. This means the source project needs to be imported into a new space. If it is imported into the same space it was exported from, it will simply overwrite itself.
</p>
<p>
    When exporting and importing a standardized project template there are a few things to take into account:
</p>
<ul>
    <li>Previous releases are included in the export. These are not likely to be useful for someone creating a new project, so ensure the existing releases are deleted before exporting a project.</li>
    <li>Environments and lifecycles are included in the export. If this is not desirable, create the template project in a space with no environments, and have the project reference the default lifecycle.</li>
    <li>Worker pools are included in the export, including the default worker pools created for you on a hosted instance. Exporting a project from a hosted Octopus instance for use on a selfhosted instance, or vice versa, may lead to unnecessary worker pools being generated.</li>
    <li>Secret variables are included in the export, but these are trivial to extract by anyone with the credentials required to import the project. Don't rely on secret variables remaining a secret in an exported project.</li>
    <li>To import a project multiple times, rename the project after it is imported. Projects are matched by name, and a renamed project will not be overwritten with a second import.</li>
</ul>
<p>
    With a little care and attention it is possible to export a generic project that others can import and tweak as they need. This means entire deployment processes can be offered as a template to get people up and running quickly.
</p>
<p>
    The downside to exported projects is that there are no controls over who can edit what once it has been imported. An imported project is essentially a disconnected copy that has no link to the source project.
</p>
<h2>Conclusion</h2>
<p>
    Providing a standardized step or base project allows teams to reduce the time it takes to build a new deployment process, and captures a lot of business knowledge that would otherwise have to be defined over and over again with each new project.
</p>
<p>
    In this chapter we:
</p>
<ul>
    <li>Created a step template from an existing <b>Deploy Kubernetes containers</b> runbook step.</li>
    <li>Used parameters to make the step template customizable.</li>
    <li>Used project import and export features to create a reusable project template.</li>
    <li>Discussed some of the things to watch for when exporting a project as a template.</li>
</ul>
<p>
    In the next chapter we'll learn how to keep our deployments running after they have been deployed through the maintainable deployments pillar.
</p>