<h1><a id="chapter10">Coordinated deployments</a></h1>
<p>
    Deploying a package into an environment is just one small part of the deployment process. Often deployments need to be coordinated with other business processes to ensure:
</p>
<ul>
    <li>The right people have given their approval.</li>
    <li>Interested parties are notified of the success or failure of a deployment.</li>
    <li>Deployments proceed in the correct order.</li>
    <li>Deployments can only occur during specific times.</li>
    <li>High priority deployments take precedence over low priority ones.</li>
    <li>Deployments are scheduled to take place at a predetermined time.</li>
    <li>Deployments can be triggered by external events.</li>
    <li>Deployments can trigger external events.</li>
</ul>
<p>
    In practice a deployment process may be a single component in a wider ecosystem of business process management tools. The ability to orchestrate deployments from third party platforms and report results back allows teams to manage complex deployments as part of a broader business process.
</p>
<p>
    Octopus includes a number of steps and features that allow high level coordination of deployment processes and runbooks, which we'll explore in this chapter.
</p>
<h2>Coordinated {{ site.platform }} deployments</h2>
<p>
    Let's break down the examples given above to see how we can implement them in Octopus.
</p>
<h3>Manual approval to proceed</h3>
<p>
    There are times when a person needs to make the decision to proceed with a deployment. We've already seen this in <a href="#chapter3">chapter 3</a>, where we configure canary deployments where the decision to direct 100% of traffic to the new deployment was made via the <b>Manual Intervention</b> step.
</p>
<p>
    This step also allows for members of a specific team to approve a manual intervention step with the <b>Responsible Teams</b> option. 
</p>
<p>
    Where multiple teams all need to approve a deployment, we can have multiple manual intervention steps running in parallel. 
</p>
<p>
    To see this in action we will create two new teams called <b>Product Owners</b> and <b>Release Managers</b>. Then in the <b>Random Quotes - Frontend - Canary</b> project, clone the <b>Increase canary traffic to 100%</b> step by clicking the hamburger menu next to the step in the process list and selecting the <b>Clone</b> option. Accept the default options and click the <b>OK</b> button. The new step will be placed after the original step.
</p>
<p class="note">
    Refer to <a href="#chapter2">chapter 2</a> for instructions on creating new teams.
</p>
<p>
    Rename the original step to <b>Increase canary traffic to 100% - Product Owners</b>, and rename the cloned step to <b>Increase canary traffic to 100% - Release Managers</b>. 
</p>
<p>
    In the <b>Increase canary traffic to 100% - Product Owners</b> step set the <b>Responsible Teams</b> to <b>Product Owners</b>, and in the <b>Increase canary traffic to 100% - Release Managers</b> step set the <b>Responsible Teams</b> to <b>Release Managers</b>.
</p>
<p>
    Finally, in the <b>Increase canary traffic to 100% - Release Managers</b> step, expand the <b>Start Trigger</b> section and select the <b>Run in parallel with the previous step</b> option. Note that the two manual approval steps are shown with an icon with two parallel lines between them. This indicates that the steps are run in parallel:
</p>
<div><img alt="Time to recovery" src="images/octopus/multiple-approvals.png"/></div>
<p>
    When we reach these steps during the deployment, both the approvals are displayed in the <b>TASK SUMMARY</b>:
</p>
<div><img alt="Time to recovery" src="images/octopus/multiple-approval-prompt.png"/></div>
<h3>Notifications during deployments</h3>
<p>
    The Octopus dashboard provides a useful overview of the state of deployments, but we very much have to "pull" this information by opening Octopus and reviewing the state of various deployments. By including notifications in our deployment processes and runbooks we can implement a "push" model that sends details about important events to external systems, like email and chat platforms.
</p>
<p>
    To send emails we need a Simple Mail Transfer Protocol (SMTP) server. For convenience we'll use Gmail as our SMTP server, which is accessible to anyone with a Gmail account.
</p>
<p>
    Open <b>Configuration -> SMTP</b> and enter the following values:
</p>
<ul>
    <li>Enter <b>smtp.gmail.com</b> as the SMTP Host.</li>
    <li>Enter <b>587</b> as the SMTP Port.</li>
    <li>Enable the <b>Use SSL/TLS</b> option.</li>
    <li>Enter your Gmail address as the From Address.</li>
    <li>Enter your Gmail address and password in the credentials.</li>
</ul>
<p class="note">
    You will enable the Less secure apps option on your Google account for Octopus to send emails via the Google SMTP server. See <a href="https://g.octopushq.com/GoogleLessSecureApps">https://g.octopushq.com/GoogleLessSecureApps</a> for details.
</p>
<p>
    In any of our deployment projects append the <b>Send an Email</b> step. Enter your email address in the <b>To</b> field, set the <b>Subject</b> to <b>#{Octopus.Project.Name} failed to deploy</b>, and set the <b>Body</b> to <b>The #{Octopus.Project.Name} project failed to deploy. Please review the logs in the Octopus dashboard for more details.</b> Under the <b>Run Condition</b> select the <b>Failure: only run when previous steps fail</b> option.
</p>
<p>
    Now if the project fails to deploy for any reason we'll get an email notification. This also means we are notified immediately rather than waiting for someone to log into the Octopus dashboard and notice the failure.
</p>
<h3>Enforcing deployment order</h3>
<p>
    Recall from <a href="#chapter1">chapter 1</a> that we deployed the backend database before the frontend web application. A more resilient frontend application would gracefully handle the absence of a database, meaning we could deploy our applications in any order. But this sample frontend application simply exits if there is no database, leading Kubernetes to eventually enter a crash loop backoff, which is good default behavior from Kubernetes, but is not such a good outcome for us. This means our deployments do have an implicit deployment order.
</p>
<p>
    Octopus has the ability to define this deployment order explicitly. Create a new project called <b>Deploy Full Stack</b>, and add a <b>Deploy a Release</b> step called <b>Deploy Backend</b>.
</p>
<p>
    The <b>Deploy a Release</b> step treats the releases in another project much like packages in an external feed. Under the <b>Project</b> section select the <b>Random Quotes - Backend</b> project. Leave the rest of the options with their defaults as they will work for our use case.
</p>
<p>
    Add another <b>Deploy a Release</b> step called <b>Deploy Frontend</b>, and select the <b>Random Quotes - Frontend</b> project.
</p>
<p>
    The order of these steps explicitly defines the order in which releases are deployed. In this example we have explicitly defined that the backend database is deployed before the frontend web application:
</p>
<div><img alt="Time to recovery" src="images/octopus/parent-project.png"/></div>
<p>
    Be aware that the <b>Deploy a Release</b> step deploys, but does not create, a release. Before we deploy the <b>Deploy Full Stack</b> project, we must first create (but not deploy) releases in both the <b>Random Quotes - Frontend</b> and <b>Random Quotes - Backend</b> projects.
</p>
<p>
    With the releases in place we can then create a release of the <b>Deploy a Release</b> project. This provides us with the ability to select the releases from the child projects as package versions. When the <b>Deploy a Release</b> project is deployed it will in turn deploy the child projects in the selected environment.
</p>
<p>
    As well as capturing the order in which child projects must be deployed, a release of a project like <b>Deploy a Release</b> can also be thought of as a application stack bundle. By capturing the child project release versions we essentially have a bundle of project releases that can be promoted between environments as a whole. This is useful for situations where it is important to understand the state of production at any point in the past. If child projects are deployed through higher level projects like <b>Deploy Full Stack</b>, we can inspect the releases of the <b>Deploy Full Stack</b> project to see the release versions of the child projects. Because each child project was deployed as part of the parent project, we can know the mix of release versions in an environment at a given point in time.
</p>
<h3>Enforcing deployment times</h3>
<p>
    Sadly the common use case of allowing deployments only between certain times is not exposed by Octopus as a native step or other project option. But as we have seen in <a href="#chapter2">chapter 2</a> a failing script step is an effective, if not pretty, way to block a deployment. The following PowerShell in a script step at the start of a deployment project will fail the step with an exit code of 1 if the current time is not between 9 AM and 5 PM:
</p>
<pre>
    if (-not [int](Get-Date -Format HH) -ge 9 -and [int](Get-Date -Format HH) -ge 17) {exit 1}
</pre>
<p>
    A similar Bash script looks like this:
</p>
<pre>
    if [[ ! $(date +"%H") -ge 9 &amp;&amp; $(date +"%H") -le 17 ]]; then exit 1; fi;
</pre>
<h3>Scheduling deployments</h3>
<p>
    When we create and deploy releases through the Octopus web UI we are presented with three screens. The first selects the packages and defines any prompted variables. The second reviews the release details and allows an environment to be selected. The third provides advanced options about how to download packages, what to do on failure, excluding certain steps. It also allows the deployment of the release to be scheduled at future point in time. Expanding the <b>When</b> section allows two times to be selected. The first, called <b>Scheduled start time</b>, sets the time when Octopus will first attempt to run the deployment. The second, called <b>Expiry time</b>, sets the time after which will deployment task (that has not already started) will be cancelled:
</p>
<div><img alt="Time to recovery" src="images/octopus/scheduled-deployment.png"/></div>
<p>
    Triggers provide another means to schedule repeat deployments. This may be useful as a way of updating a test environment each night with the latest releases in the development environment. Click the <b>Triggers</b> link, click the <b>ADD TRIGGER</b> drop down list, and select the <b>Scheduled trigger</b> option.
</p>
<p>
    Scheduled triggers allow you to promote the latest release from one environment to the next or create and deploy a new release. The schedule itself is flexible allowing daily, days per month, or general cron expressions.
</p>
<p class="note">
    A new release will be created with the latest available packages versions, taking into account any channel rules, and empty strings for prompted variables.
</p>
<h3>Triggering deployments</h3>
<p>
    A common use case for external systems triggering a deployment is a CI build that deploys a project once a Docker image has been pushed to a registry.
</p>
<p>
    Octopus has many CI plugins for platforms like Jenkins, Team City, Azure DevOps, and Bamboo. We've also seen in <a href="#chapter5">chapter 5</a> that the Octopus CLI plugin for GitHub actions can be used to interact with an Octopus server as part of a build.
</p>
<p>
    Behind the scenes all CI plugins execute the Octopus CLI to perform their actions, with the plugin itself usually being little more than a way to capture the inputs passed to the CLI.
</p>
<p>
    We can also use the CLI directly. It is downloaded from <a href="https://octopus.com/downloads">https://octopus.com/downloads</a>, and once installed the list of available commands is shown with the command:
</p>
<pre>
octo help
</pre>
<p>
    To create a release, run the command:
</p>
<pre>
octo create-release \
    --server https://myinstance.octopus.app \
    --apiKey API-xxxxxxxxxxxxxxxxxxxxxxxxxxxx \
    --project "Random Quotes - Backend" \
    --package postgres:13.2
</pre>
<p class="note">
    The backslash at the end of each line instructs Bash to continue the command on the next line. If running the command with PowerShell, end each line with a caret (^) character instead.
</p>
<p>
    To deploy a release, run the command:
</p>
<pre>
octo deploy-release \
    --server https://myinstance.octopus.app \
    --apiKey API-xxxxxxxxxxxxxxxxxxxxxxxxxxxx \
    --space "Default" \
    --project "Random Quotes - Backend" \
    --deployTo Development \
    --version=0.0.22 \
    --waitForDeployment
</pre>
<p class="note">
    The <b>--deployAt</b> and <b>--noDeployAfter</b> parameters can be used to schedule a deployment for a later time, just as we did when deploying a release through the web UI.
</p>
<p>
    To run a runbook, run the command:
</p>
<pre>
octo run-runbook \
    --server https://myinstance.octopus.app \
    --apiKey API-xxxxxxxxxxxxxxxxxxxxxxxxxxxx \
    --space "Default" \
    --project "Kubernetes DevOps" \
    --runbook "Get Service IP" \
    --environment "Admin" \
    --waitForRun
</pre>
<p class="note">
    To avoid specifying the server URL and API key with each command, set the <b>OCTOPUS_CLI_SERVER</b> environment variable to the server URL, and the <b>OCTOPUS_CLI_API_KEY</b> environment variable to the API key. The <b>--server</b> and <b>--apiKey</b> arguments override the environment variables if both are present.
</p>
<h3>Triggering external events</h3>
<p>
    In <a href="#chapter7">chapter 7</a> we looked at the Octopus audit logs and explored the many categories of events that are saved there. These events can also be used to trigger emails or web hooks.
</p>
<p class="note">
    A web hook is a URL that is called by an automated system to trigger an action. Because web hooks receive HTTP traffic they can be called by almost any system, or even triggered with command line tools like <b>curl</b>.
</p>
<p>
    Open <b>Configuration -> Subscriptions</b> and click the <b>ADD SUBSCRIPTION</b> button. The event filters match those we used to search the audit logs, described in <a href="#chapter7">chapter 7</a>. For this example we'll create a subscription responding to the <b>Deployment events</b> events group.
</p>
<p>
    We need an external system that exposes a web hook for us to call. In a real environment this system would be a custom application or other platform with web hook support. For testing we'll use a service called Webhook.site available at <a href="https://webhook.site">https://webhook.site</a>. Opening the web page provides a unique URL that will listen to incoming requests.
</p>
<p>
    Enter this URL into the <b>Payload URL</b> field, and save the subscription. Now we go back to any of our projects and perform a deployment. Once the deployment is complete, return to WebHook.site and look in the requests list. Click one of the requests to view the data that was sent by Octopus. In the screenshot below you can see the <b>DeploymentSucceeded</b> event category was posted to the web hook:
</p>
<div><img alt="Pipedream" src="images/webhook/webhook.png"/></div>
<p>
    Posting events to web hooks via subscriptions allows an external system to be notified of, and respond to, almost any change or action in Octopus.
</p>
<h2>Subscription events to Slack</h2>
<p>
    An interesting use case for subscription events is to have Octopus events posted to Slack. This is much like the email notifications we added to the end of a deployment process, but captures all projects and any other event rather than just the failure of a deployment.
</p>
<p>
    To post messages to slack, we need to create a Slack application. Open <a href="https://api.slack.com/apps/">https://api.slack.com/apps/</a> and click the <b>Create New App</b> button. Call the new app <b>OctopusToSlack</b>:
</p>
<div><img alt="Pipedream" src="images/slack/slack-app.png"/></div>
<p>
    Under the <b>Features</b> section, click <b>Incoming Webhooks</b>. Ensure the switch next to the <b>Activate Incoming Webhooks</b> header is set to <b>On</b>, and then click the <b>Add New Webhook to Workspace</b> button.
</p>
<p>
    Select the channel that will display the Octopus events, and click the <b>Allow</b> button. Slack will generate a random URL that we will use to post messages to:
</p>
<div><img alt="Pipedream" src="images/slack/slack-webhook.png"/></div>
<p class="note">
    This URL should be treated as a secret. Anyone know knows the URL can post messages to your channel.
</p>
<p>
    Octopus cannot post directly to this webhook, as the format of the messages are different. We need a gateway to translate between an Octopus event and a Slack message.
</p>
<p>
    The sample application at <a href="https://github.com/OctopusSamples/OctopusToSlackDotNet">https://github.com/OctopusSamples/OctopusToSlackDotNet</a> provides just such a gateway. This application has been published as a Docker image called <b>octopussamples/octopustoslack</b>.
</p>
<p>
    Open the <b>Kubernetes DevOps</b> project and add a new runbook called <b>Deploy Slack Gateway</b>. Add a <b>Deploy Kubernetes container</b> step, and import the following deployment YAML:
</p>
<pre>
apiVersion: apps/v1
kind: Deployment
metadata:
  name: slackgateway
spec:
  selector:
    matchLabels:
      octopusexport: OctopusExport
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        octopusexport: OctopusExport
    spec:
      containers:
        - name: slackgateway
          image: index.docker.io/octopussamples/octopustoslack
          ports:
            - name: web
              containerPort: 80
          env:
            - name: API_TOKEN
              value: '#{ApiToken}'
            - name: SLACK_URI_APIKEY
              value: '#{SlackWebHook}'
</pre>
<p>
    The gateway will be exposed by a load balancer service, created by importing the following service YAML:
</p>
<pre>
apiVersion: v1
kind: Service
metadata:
  name: slackgateway
spec:
  type: LoadBalancer
  ports:
    - name: web
      port: 80
      targetPort: web
      protocol: TCP
  selector:
    octopusexport: OctopusExport
</pre>
<p>
    We need to define two secret variables:
</p>
<ul>
    <li><b>ApiToken</b> - set to a random password.</li>
    <li><b>SlackWebHook</b> - set to the Slack webhook URL.</li>
</ul>
<p>
    Run the runbook, and then query the cluster to find the public IP of the load balancer service. We'll need this IP address to configure Octopus.
</p>
<p>
    Back in Octopus, create a new subscription called <b>Slack Gateway</b>. Select the events you are interested in sending to Slack. Under the <b>WebHook Notifications</b> section, set the <b>Payload URL</b> field to <b>http://[load balancer ip]]/OctopusWebHook</b>. Then under <b>Header</b> set the <b>Header Key</b> to <b>API-TOKEN</b> and the <b>Header Value</b> to the same value assigned to the <b>ApiToken</b> variable we created above:
</p>
<div><img alt="Octopus Subscription" src="images/octopus/subscription-example.png"/></div>
<p>
    Now each matching Octopus event is sent to the gateway, where it is transformed and sent to Slack:
</p>
<div><img alt="Slack messages" src="images/octopus/messages.png"/></div>
<h2>Conclusion</h2>
<p>
    The practical reality of Octopus is that it never stands alone in your DevOps workflows. At a minimum, a CI server will be building packages and triggering deployments, but even deployments themselves are a small part of a bigger picture. With tooling like the CLI, notifications with emails, and integrations with web hooks, Octopus can reach out to keep everyone updated with important events. And through the <b>Manual Intervention</b> step, workflows involving authorization can be built into deployment processes.
</p>
<p>
    In this chapter we:
</p>
<ul>
    <li>Configured the SMTP settings in Octopus and added a step to send an email when a deployment failed.</li>
    <li>Looked at how the <b>Manual Intervention</b> step can be used to prompt a member of one or more teams to allow a deployment to progress.</li>
    <li>Scheduled and triggered deployments.</li>
    <li>Used the Octopus CLI to create a release, deploy the release, and run a runbook.</li>
    <li>Configured a subscription to trigger a web hook based on events raised by Octopus.</li>
</ul>
<p>
    You may have noticed the feature of "high priority deployments take precedence over low priority ones" did not have an example implementation. This is because there is no solution for this in Octopus at this time. In fact there have been more than a few features and use cases that were ignored or glossed over in this book. If you want to contribute to the discussion around the future of Octopus, join me in the epilogue.
</p>