<h1><a id="chapter5">Visible deployments</a></h1>
<p>
    Deployments are an abstract concept, and it is difficult to know what has been deployed where by inspecting the state of a system. Determining what versions of an application are installed from the files on a disk or the records in a database is like working out the mix of colors that were used to produce a tin of paint.
</p>
<p>
    Being able to quickly view the current state of your environments is critical to understanding:
</p>
<ul>
    <li>What features have been provided to your customers.</li>
    <li>What features are being tested.</li>
    <li>What issues have been fixed.</li>
    <li>The history of any changes.</li>
</ul>
<p>
    Listed below are a number of details required to gain full visibility into the state of your deployments.
</p>
<h2>Commit messages</h2>
<p>
    Commit messages capture the intention of source code edits, describing what changes were made and who made them. These messages can be invaluable when trying to understand at a low level what changes made it into a particular version of a package.
</p>
<h2>Issue tracking</h2>
<p>
    Often source code commits are made to resolve an issue documented in a dedicated issue tracker. These issues provide a space for bugs to be described, discussed, and tracked. Each issue is referenced by a unique identifier.
</p>
<p>
    Capturing the issue IDs that relate to changes in a package version, and any deployment that includes that package version, provides insight into the issues that were resolved in any given deployment.
</p>
<h2>CI build logs</h2>
<p>
    A typical CI/CD pipeline will have a CI server that builds, tests, and packages an application. The log files for these builds contain a wealth of information such as which tests passed, which tests were ignored, which dependencies were included, and what packages were created. A link to the CI build from the deployment allows these log files to be quickly reviewed.
</p>
<h2>Library dependencies</h2>
<p>
    Almost every application deployed today is a combination of custom code and shared libraries, often provided by a third party. These libraries can be a source of bugs or security vulnerabilities, or provide new and useful features. Understanding the library dependencies that contributed to a deployment is important for auditing and debugging.
</p>
<h2>Deployment versions</h2>
<p>
    A release captures all of the above information, along with package versions, variable values, and scripts, in a release version. This release is then deployed to an environment.
</p>
<p>
    Displaying which release versions are deployed to which environments provides a high level view of the state of your deployments. With this information anyone can see what was deployed where, and by drilling into the details of a release, can see the commit messages, issues, dependencies, and links to the CI builds.
</p>
<h2>Visible {{ site.platform }} deployments</h2>
<p>
    There are two main features in Octopus to facilitate the pillar of visible deployments.
</p>
<h3>The Octopus dashboard</h3>
<p>
    Throughout this book we have performed many deployments and observed the state of our environments in the Octopus dashboard. We've taken it for granted that this dashboard exists, but it is worth exploring how the Octopus dashboard differs from a traditional Kubernetes management console.
</p>
<p>
    The official Kubernetes Web UI provides a user interface that allows you to view, create, delete, and modify Kubernetes resources. The navigation structure starts with a list of resource types, such as the deployment resources we've been creating, and then allows you to drill further down into the associated pods and containers:
</p>
<div><img alt="Redeploy" src="images/kubernetes/k8s-web-ui.png"/></div>
<p>
    This "resource view" is how most Kubernetes administrators think about a cluster, and it is a very effective way of presenting the cluster's current resources and configuration. However, it is difficult to understand the state of your deployments through a traditional resource management console like the Kubernetes Web UI. 
</p>
<p>
    The most obvious limitation is that these resource management consoles do not understand the concept of an environment. It is up to the end user to juggle the presented resources with the namespaces and clusters that are used to separate environments.
</p>
<p>
    It is also difficult to view the deployed application versions. The image that a container is running is at the bottom of the hierarchy of resources exposed by these consoles, meaning you have to click through a deployment, to a pod, and then to a container to see what image version has been deployed.
</p>
<p>
    Finally, a Kubernetes dashboard does not capture any information outside of the Kubernetes cluster. While Kubernetes is an incredible platform, the reality is other PaaS offerings like database and file hosting will often be more appealing than recreating these platforms within your own cluster. If you did choose to deploy your database outside of the cluster, it won't be shown in a Kubernetes resource management console.
</p>
<p>
    This is where the Octopus dashboard adds value. It displays the state of deployments across environments, and because Octopus is cloud and platform agnostic, those deployments can be to Kubernetes or other PaaS offerings like hosted databases. It surfaces the versions of deployed applications directly, along with any associated information like release notes (which we'll explore later in this chapter).
</p>
<p>
    The Octopus dashboard and Kubernetes specific dashboards complement each other nicely, with Octopus providing a high level environment view and a Kubernetes dashboard providing the low level resource view.
</p>
<h3>Octopus build information</h3>
<p>
    There is a lot of information and process that goes into producing a Docker image. A typical CI pipeline looks like this:
</p>
<ol>
    <li>A commit is made to a source control system like GIT.</li>
    <li>The commit message may include references to issues in an issue tracking system.</li>
    <li>The commit triggers a build in a CI system.</li>
    <li>The CI system builds the Docker image, combining the custom code with external dependencies.</li>
    <li>The resulting Docker image is pushed to a Docker registry.</li>
</ol>
<p>
    We need a way to work backwards from the Docker image we reference in our Octopus deployment to each of the elements that resulted in the image being created. This is where build information comes in.
</p>
<p>
    Build information is a specially formatted JSON file containing metadata and links about a package. The package can be hosted by Octopus in the built-in feed, or, as is the case with Docker images, can be hosted on an external feed. At deployment time Octopus matches the packages it references as part of a deployment with any available build information, and if matching build information is found, the metadata it contains is contributed to the variables available to the deployment release notes.
</p>
<p>
    Build information JSON files are created by one of the many CI plugins available for Octopus. However, in this example we'll see how to create a build information JSON file manually from a project hosted in GitHub and built with GitHub Actions.
</p>
<p class="note">
    GitHub Actions provide an execution environment in which the code from an associated GitHub repository can be processed. We use it here to build and push the Docker image, and push build information to Octopus.
</p>
<p class="note">
    At the time of writing there is no official Octopus GitHub Actions plugin that can be used to create a build information JSON file.
<p>
    The source code used to generate the Docker image we have been deploying as the frontend web application is found at <a href="https://github.com/OctopusSamples/RandomQuotes-Java">https://github.com/OctopusSamples/RandomQuotes-Java</a>. The code in this GIT repository is built with the workflow file at <a href="https://github.com/OctopusSamples/RandomQuotes-Java/blob/master/.github/workflows/maven.yml">https://github.com/OctopusSamples/RandomQuotes-Java/blob/master/.github/workflows/maven.yml</a>. The complete workflow file is shown below:
</p>
{% raw %}
<pre>
name: Java CI

on:
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install Octopus Deploy CLI
      uses: OctopusDeploy/install-octocli@v1
      with:
        version: 7.4.3124

    - name: Update version
      run: mvn versions:set -DnewVersion=0.1.${{ github.run_number }}

    - name: List dependencies
      run: mvn dependency:tree

    - name: Build with Maven
      run: mvn -B package --file pom.xml -DfinalName=app

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: 0.1.${{ github.run_number }}
        release_name: Release 0.1.${{ github.run_number }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: target/app.jar
        asset_name: app.jar
        asset_content_type: application/zip

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        build-args: VERSION=0.1.${{ github.run_number }}
        tags: octopussamples/randomquotesjava:0.1.${{ github.run_number }}

    - name: Build Docker Package Info
      run: >-
        echo "{
        \"PackageId\": \"octopussamples/randomquotesjava\",
        \"Version\": \"0.1.${{ github.run_number }}\",
        \"BuildUrl\": \"https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}\",
        \"BuildNumber\": \"${{ github.run_number }}\",
        \"Branch\": \"${{ github.ref }}\",
        \"BuildEnvironment\":\"GithubActions\",
        \"VcsCommitNumber\":\"${{ github.sha }}\",
        \"VcsCommitUrl\":\"https://github.com/OctopusSamples/RandomQuotes-Java/commit/${{ github.sha }}\",
        \"VcsType\": \"Git\",
        \"VcsRoot\": \"https://github.com/OctopusSamples/RandomQuotes-Java\",
        \"Commits\":
        [{\"Id\":\"${{ github.sha }}\", \"LinkUrl\":\"https://github.com/OctopusSamples/RandomQuotes-Java/commit/${{ github.sha }}\", \"Comment\": \"${{ github.event.head_commit.message }}\"}]
        }" > dockerbuildinfo.json; cat dockerbuildinfo.json

    - name: Push Build Info
      run: >-
        octo build-information
        --space=${{ secrets.OCTOPUS_SERVER_SPACE}}
        --server=${{ secrets.OCTOPUS_SERVER_URL }}
        --apiKey=${{ secrets.OCTOPUS_API_KEY }}
        --package-id=octopussamples/randomquotesjava
        --version=0.1.${{ github.run_number }}
        --file=dockerbuildinfo.json
</pre>
{% endraw %}
<p>
    There are three important sections in this YAML file as they relate to build information.
</p>
<p>
    First, we need to install the Octopus CLI tools to make them available to scripts run as part of the workflow:
</p>
<pre>
- name: Install Octopus Deploy CLI
uses: OctopusDeploy/install-octocli@v1
with:
  version: 7.4.3124
</pre>
<p>
    Second, we build the JSON file defining the metadata to associate with the Docker image being built by this workflow:
</p>
{% raw %}
<pre>
- name: Build Docker Package Info
run: >-
  echo "{
  \"PackageId\": \"octopussamples/randomquotesjava\",
  \"Version\": \"0.1.${{ github.run_number }}\",
  \"BuildUrl\": \"https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}\",
  \"BuildNumber\": \"${{ github.run_number }}\",
  \"Branch\": \"${{ github.ref }}\",
  \"BuildEnvironment\":\"GithubActions\",
  \"VcsCommitNumber\":\"${{ github.sha }}\",
  \"VcsCommitUrl\":\"https://github.com/OctopusSamples/RandomQuotes-Java/commit/${{ github.sha }}\",
  \"VcsType\": \"Git\",
  \"VcsRoot\": \"https://github.com/OctopusSamples/RandomQuotes-Java\",
  \"Commits\":
  [{\"Id\":\"${{ github.sha }}\", \"LinkUrl\":\"https://github.com/OctopusSamples/RandomQuotes-Java/commit/${{ github.sha }}\", \"Comment\": \"${{ github.event.head_commit.message }}\"}]
  }" > dockerbuildinfo.json; cat dockerbuildinfo.json
</pre>
{% endraw %}
<p class="note">
    This JSON file is what a native Octopus CI plugin would create for you as part of a build, removing the need to construct it manually.
</p>
<p>
    There is a lot of escaping and concatenation in that echo command, so to make it easier to understand what is being constructed here, this is an example of the resulting JSON.
</p>
<p>
    The information in this JSON file identifies a package ID called <b>octopussamples/randomquotesjava</b> (which is our Docker image) with the version <b>0.1.163</b> (which is the Docker image tag) with a host of information about the GIT commit that triggered the build, the commit message, and links to the GitHub Action build:
</p>
<pre>
{
  "PackageId": "octopussamples/randomquotesjava",
  "Version": "0.1.164",
  "BuildUrl": "https://github.com/OctopusSamples/RandomQuotes-Java/actions/runs/652926986",
  "BuildNumber": "164",
  "Branch": "refs/heads/master",
  "BuildEnvironment": "GithubActions",
  "VcsCommitNumber": "20070c3d0c0543c4be3cfec8d63c6d6e64fe43e6",
  "VcsCommitUrl": "https://github.com/OctopusSamples/RandomQuotes-Java/commit/20070c3d0c0543c4be3cfec8d63c6d6e64fe43e6",
  "VcsType": "Git",
  "VcsRoot": "https://github.com/OctopusSamples/RandomQuotes-Java",
  "Commits": [
    {
      "Id": "20070c3d0c0543c4be3cfec8d63c6d6e64fe43e6",
      "LinkUrl": "https://github.com/OctopusSamples/RandomQuotes-Java/commit/20070c3d0c0543c4be3cfec8d63c6d6e64fe43e6",
      "Comment": "Update maven.yml"
    }
  ]
}
</pre>
<p>
    Third, we push the JSON file as build information to the Octopus server:
</p>
{% raw %}
<pre>
- name: Push Build Info
run: >-
  octo build-information
  --space=${{ secrets.OCTOPUS_SERVER_SPACE}}
  --server=${{ secrets.OCTOPUS_SERVER_URL }}
  --apiKey=${{ secrets.OCTOPUS_API_KEY }}
  --package-id=octopussamples/randomquotesjava
  --version=0.1.${{ github.run_number }}
  --file=dockerbuildinfo.json
</pre>
{% endraw %}
<p>
    The build information appears under <b>Library -> Build Information</b>:
</p>
<div><img alt="Redeploy" src="images/octopus/build-information.png"/></div>
<p>
    To make use of the build information, we create a release notes template in the Octopus project to display the project metadata. Under the Octopus project, click <b>Settings</b>. Expand the <b>Release Notes Template</b> section, and paste in the following template:
</p>
<pre>
#{each package in Octopus.Release.Package}
#{each commit in package.Commits}
* [#{commit.CommitId}](#{commit.LinkUrl}) - #{commit.Comment}
#{/each}
#{/each}
</pre>
<p>
    This template loops over the packages referenced in a release, and creates a link for each commit associated with the package version:
</p>
<div><img alt="Redeploy" src="images/octopus/release-notes.png"/></div>
<p>
    Links to the CI build and commit are available in the list of packages for a release:
</p>
<div><img alt="Redeploy" src="images/octopus/package-build-info.png"/></div>
<p>
    Between the custom release notes and build information linked to packages referenced as part of a release, it is possible to retrace the GIT commit that triggered a build and the CI logs that generated the Docker image.
</p>
<p>
    The list of dependencies that were included in a build was mentioned in the chapter introduction. This information is not saved as part of build information, but we have captured this information in the CI logs. Because our sample application is built with Maven, we can use the <b>mvn dependency:tree</b> command to list the dependencies that are used for a build:
</p>
<pre>
- name: List dependencies
  run: mvn dependency:tree
</pre>
<p>
    This produces log output like the following, where we can see the dependencies that were included in the Docker image by this build:
</p>
<pre>
2021-03-15T04:43:27.3371829Z [INFO] com.octopus:randomquotes:jar:0.1.166
2021-03-15T04:43:27.3379981Z [INFO] +- org.springframework.boot:spring-boot-starter-web:jar:2.2.5.RELEASE:compile
2021-03-15T04:43:27.3388288Z [INFO] |  +- org.springframework.boot:spring-boot-starter:jar:2.2.5.RELEASE:compile
2021-03-15T04:43:27.3395705Z [INFO] |  |  +- org.springframework.boot:spring-boot:jar:2.2.5.RELEASE:compile
2021-03-15T04:43:27.3403935Z [INFO] |  |  +- org.springframework.boot:spring-boot-autoconfigure:jar:2.2.5.RELEASE:compile
2021-03-15T04:43:27.3412426Z [INFO] |  |  +- org.springframework.boot:spring-boot-starter-logging:jar:2.2.5.RELEASE:compile
2021-03-15T04:43:27.3419125Z [INFO] |  |  |  +- ch.qos.logback:logback-classic:jar:1.2.3:compile
2021-03-15T04:43:27.3425670Z [INFO] |  |  |  |  \- ch.qos.logback:logback-core:jar:1.2.3:compile
2021-03-15T04:43:27.3432792Z [INFO] |  |  |  +- org.apache.logging.log4j:log4j-to-slf4j:jar:2.12.1:compile
2021-03-15T04:43:27.3439839Z [INFO] |  |  |  |  \- org.apache.logging.log4j:log4j-api:jar:2.12.1:compile
2021-03-15T04:43:27.3445873Z [INFO] |  |  |  \- org.slf4j:jul-to-slf4j:jar:1.7.30:compile
2021-03-15T04:43:27.3452558Z [INFO] |  |  +- jakarta.annotation:jakarta.annotation-api:jar:1.3.5:compile
2021-03-15T04:43:27.3473150Z [INFO] |  |  \- org.yaml:snakeyaml:jar:1.25:runtime
...
</pre>
<h2>Conclusion</h2>
<p>
    While it is a simple idea, the ability to see what deployments were made to which environments is a very powerful feature. It provides a quick summary of the state of your infrastructure, and means non-technical folk can understand what has been delivered to end users and when.
</p>
<p>
    Going a step further, being able to trace which changes were included in a deployment, why they were made, and view the log files of the CI system that built the packages provides a comprehensive insight into exactly what each particular Docker image or other application package provides.
</p>
<p>
    In this chapter we:
</p>
<ul>
    <li>Explored the difference between a Kubernetes resource management console and the Octopus dashboard.</li>
    <li>Discussed Octopus build information.</li>
    <li>Provided an example of how build information JSON files can be created and pushed to Octopus from GitHub Actions.</li>
    <li>Explored how to trace back from a release to the source control commits and CI builds that generated the release packages.</li>
</ul>
<p>
    The pillar of visible deployments provides specific insight into our deployments. In the next chapter we'll step back a bit and observe the overall health of our deployments with the pillar of measurable deployments.
</p>