<h1><a id="epilogue">Epilogue</a></h1>
<p>
    One of the primary motivations for writing this book was to identify gaps in the functionality provided by Octopus. We are always looking for ways to improve the product, and if you have reached this point I imagine you have found a few use cases that Octopus just doesn't quite support.
</p>
<p>
    We're always interested to hear your feedback. If you have provided feedback in the past that was not actioned, please accept my apology. The volume of feature requests we receive often outweighs our ability to implement them. As Octopus grows though we find ourselves in a position to build more features and improve rough edges, and so even suggestions made some time ago are being revisited. We expect to be able to deliver some incredible new functionality in Octopus over the next few years, so now is a good time to be involved with the conversation.
</p>
<p>
    The links below provide ways you can get in touch with us:
</p>
<ul>
    <li>Community Slack - <a href="https://octopususergroup.slack.com/">https://octopususergroup.slack.com/</a></li>
    <li>Support - <a href="https://octopus.com/support">https://octopus.com/support</a></li>
    <li>User Voice - <a href="https://octopusdeploy.uservoice.com/">https://octopusdeploy.uservoice.com/</a></li>
</ul>
<p>
    The source code to this book can be found at <a href="https://github.com/OctopusDeploy/TenPillarsK8s">https://github.com/OctopusDeploy/TenPillarsK8s</a>.
</p>
<p>
    You can reach me directly via Twitter at <a href="https://twitter.com/mjcasperson">@mjcasperson</a>.
</p>
<p>
    Thank you for taking the time to read this book. Like all good software projects I expect this book will continue to evolve over time. If it is possible for a book to feature creep, I'll probably find a way to do that too :). This book is being built with continuous delivery, with each new version made publicly available at <a href="https://github.com/OctopusDeploy/TenPillarsK8s/releases">https://github.com/OctopusDeploy/TenPillarsK8s/releases</a>, so keep an eye out for updates.
</p>
<p>
    Happy deployments!
</p>